.header {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
}

.logo {
    width: 100px;
}

.nav-items {
    margin: 0px 20px;
}

.nav-items ul {
    display: flex;
    list-style-type: none;
    font-size: larger;
}

.nav-items ul li {
    padding :10px
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: none;
    margin-top: 20px;
}

.res-card {
    height: 450px;
    width: 200px;
    margin: 0px 50px;
    padding: 5px;
    overflow-wrap: break-word;
}

.res-card-img {
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

.item-acc-img {
    width: 180px;
    height: 140px;
    border-radius: 10px;
    display: block;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap ;
}

.shimmer-card {
    height: 400px;
    width: 200px;
    margin : 10px;
    background-color: #f0f0f0;
}

.filter {
    display: flex;
    margin-left: 45px;
}

.search {
    margin: 0 10px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.set-username {
    margin-left: 10px;
}

.res-menu {
    margin: 0 250px;
}

.line-break {
    border: none;
    border-top: 0.25px solid grey;
    margin-bottom: 20px;
}

.acc-line-break {
    border: none;
    border-top: 20px solid rgb(2, 6, 12, .0509803922);
    margin-top: 10px;
    margin-bottom: 20px;
}

.res-category-title{
    font-weight: bolder;
}

.res-category-button{
    float: right;
    margin-right: 10px;
}

.res-category {
    margin-bottom: 10px;
}

.item-acc-img {
    margin-left: auto; 
    position: relative;
    display: inline-block; 
}

.item-acc-li {
    list-style: none;
    margin-left: -40px;
    display: flex;
    margin-bottom: 25px;
}

.item-acc-button{
    position: absolute; 
    bottom: -15px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px; 
    font-weight: bold;
    color: green;  
}